@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400,600,700&display=swap');

@font-face {
  font-family: 'icofont';
  src: url('./../fonts/icofont/icofont.eot');
  src: url('./../fonts/icofont/icofont.eot?iefix') format('eot'),
    url('./../fonts/icofont/icofont.woff') format('woff'),
    url('./../fonts/icofont/icofont.woff2') format('woff2'),
    url('./../fonts/icofont/icofont.svg') format('svg'),
    url('./../fonts/icofont/icofont.ttf') format('truetype');
}
