@import 'normalize';
@import 'fonts';
@import 'media-mixin';

:root {
  --main-bg-color: white;
  --primary: black;
  --secondary: blue;
}


/* burger-menu */
&__burger-menu {
    display: none;
    position: relative;
    width: 28px;
    height: 22px;
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--black);
      transition: 0.1s ease;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &.active {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }
      span:nth-child(2) {
        transform: scale(0);
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 10px;
      }
    }
    @include _768 {
      display: block;
    }
  }

/* toTopBtn */
.toTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}